<div class="container text-center padded">
  <h1>Our team</h1>
  <ul class="list-inline">
    <li>
      <h2>Romain</h2>
      <img src="images/romain.jpeg" class="img-circle" width="150">
    </li>
    <li>
      <h2>Seb</h2>
      <img src="images/seb.jpg" class="img-circle" width="150">
    </li>
    <li>
      <h2>Anne</h2>
      <img src="images/anne.jpg" class="img-circle" width="150">
    </li>
  </ul>

  <h3 class="padded">
    <a href="mailto:contact@airbnb.com">
      <i class="fa fa-envelope"></i> contact@airbnb.com
    </a>
  </h3>
</div>
